ui-view {}

ul li {
    padding-bottom: 10px;
}

.content-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.child-list-padding {
    padding-top: 10px;
}
