<div>
    <div class="mf-toolbar-xl" md-colors="{background: 'primary'}" layout="column" layout-padding>
        <span flex></span>
        <div class="mf-toolbar-header md-display-3" md-colors="{color: 'background'}">GIT Branching Model</div>
    </div>
    <div layout="column" layout-padding class="content-padding">

        <div flex layout="row" layout-align="center" class="md-display-2" md-colors="{color: 'primary-hue-1'}">GIT Branching Model</div>
        <div layout="row" class="md-headline" md-colors="{color: 'primary-hue-1'}">Branch Naming Convention</div>
        <div layout-wrap>
            This branching model groups different branches per usage and version. <b>dev</b>, <b>feat</b>, and <b>merge</b> branches are the main player of this branching model.
            <ul class="md-body-1 mf-no-list-style">
                <li><b>dev/</b>
                    <ul class="child-list-padding mf-unordered-list">
                        <li>Exact copy of <b>master</b> branch</li>
                        <li>Serves as the historical versions of <b>master</b></li>
                        <li><b>dev/</b><i>&lt;major_version.minor_version.revision_version&gt;</i>
                            <ul class="child-list-padding mf-unordered-list">
                                <li><b>dev/</b><i>1.0.0</i></li>
                                <li><b>dev/</b><i>1.1.0</i></li>
                                <li><b>dev/</b><i>2.0.0</i></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>feat/</b>
                    <ul class="child-list-padding mf-unordered-list">
                        <li>Branches for new features</li>
                        <li><b>feat/</b><i>&lt;target_major_version.target_minor_version.revision_version&gt;</i>-&lt;feature/module&gt;
                            <ul class="child-list-padding mf-unordered-list">
                                <li><b>feat/</b><i>1.0.0</i>-change-password</li>
                                <li><b>feat/</b><i>1.0.0</i>-login</li>
                                <li><b>feat/</b><i>1.0.0</i>-logout</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>merge/</b>
                    <ul class="child-list-padding mf-unordered-list">
                        <li>Feature branches of similar versions are merged into a single branch</li>
                        <li><b>merge/</b><i>&lt;target_major_version.target_minor_version.revision_version&gt;</i>
                            <ul class="child-list-padding mf-unordered-list">
                                <li><b>merge/</b><i>1.0.0</i>
                                    <li><b>merge/</b><i>1.1.0</i>
                                        <li><b>merge/</b><i>2.0.0</i>
                            </ul>
                            </li>
                    </ul>
                    </li>
            </ul>
        </div>
        <mf-spacer></mf-spacer>
        <div layout="row" class="md-headline" md-colors="{color: 'primary-hue-1'}">Development Flow</div>
        <mf-left-image-align image="asset/img/illu-1.png" align="center">After GIT has been initialized, a <b><i>dev/</i></b> copy of the master is immediately created.</mf-left-image-align>

        <mf-spacer></mf-spacer>

        <mf-right-image-align image="asset/img/illu-2.png" align="center">Different features are created under <b><i><strike>new/</strike> feat/</i></b> by different developers.</mf-right-image-align>

        <mf-spacer></mf-spacer>

        <mf-left-image-align image="asset/img/illu-3.png" align="center">The lead merges the features branches under <b><i>merge/</i></b></mf-left-image-align>

        <mf-spacer></mf-spacer>

        <mf-right-image-align image="asset/img/illu-4.png" align="center">Once the features are certified, a <b><i>release/</i></b> and <b><i>dev/</i></b> copy is created. <b><i>dev/</i></b> branch is merged to <b><i>master</i></b> and is tagged appropriately.</mf-right-image-align>
    </div>
</div>
