<div class="mf-toolbar-xl" md-colors="{background: 'primary'}" layout="column" layout-padding>
    <span flex></span>
    <div class="mf-toolbar-header md-display-3" md-colors="{color: 'background'}">Michael Ardan</div>
</div>

<div layout="row" layout-margin class="content-padding">
    <!--    <img ng-src="asset/img/avatar.png">-->
    <div flex="65">
        <div md-whiteframe="4">
            <div layout-padding class="mf-header-tools">
                <span class="md-title">As a Professional</span>
            </div>
            <md-divider></md-divider>
            <div layout-padding class="mf-text-left">
                <span class="md-subheader">Senior Software Engineer at Electronic Science Corporation<img ng-src="asset/img/esc-logo-trans.png" height="20"></span>
                <span class="md-body-1">Jan 2016 - Present</span>
            </div>
            <mf-spacer-xs></mf-spacer-xs>
            <div layout-padding class="mf-text-left">
                <span class="md-subheader">Mid-level Software Engineer at Electronic Science Corporation<img ng-src="asset/img/esc-logo-trans.png" height="20"></span>
                <span class="md-body-1">Jun 2014 - Dec 2015 ( 1 year 7 mos )</span>
            </div>
            <mf-spacer-xs></mf-spacer-xs>
            <div layout-padding class="mf-text-left" layout="column">
                <span class="md-subheader">Junior Software Engineer at Electronic Science Corporation<img ng-src="asset/img/esc-logo-trans.png" height="20"></span>
                <span class="md-body-1">Feb 2013 - May 2014 ( 1 year 4 mos )</span>
            </div>
        </div>
        <mf-spacer-xs></mf-spacer-xs>
        <div md-whiteframe="4">
            <div layout-padding class="mf-header-tools">
                <span class="md-title">Projects</span>
            </div>
            <md-divider></md-divider>
            <div layout-padding layout-wrap>
                <div layout="row" layout-padding>
                    <div>
                        <img ng-src="asset/img/msl.png" width="200">
                    </div>
                    <div flex class="mf-text-left">
                        <b>MSL Stats Calculator</b> (Ongoing)<br>
                        <span class="md-body-1">An AngularJS project that calculates the Monster Statistics based on the inputted Gems. The project implements AngularJS and Angular Material as front-end and components backing the application with ExpressJS and is served in NodeJS server via Heroku.<br>
                        <div layout="row" layout-align="start center">
                            <i class="material-icons" flex="10">link</i><a target="_blank" href="https://github.com/maikforte/msl-stat-calculator">GitHub</a>
                        </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span flex="5"></span>

    <div flex="30" md-whiteframe="4" md-colors="{background: 'primary'}">
        <img flex style="width: 100%;" ng-src="asset/img/avatar-polygon.jpg">
        <div md-colors="{background: 'primary'}" layout="column" layout-padding>
            <mf-spacer-xs></mf-spacer-xs>
            <div md-colors="{color: 'background'}" layout="row" layout-align="center">
                <p class="mf-text-center">I'm a Web Developer, Graphic Designer, and I love Espresso</p>
            </div>
            <mf-spacer-xs></mf-spacer-xs>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10">phone</i>
                <span flex="5"></span>
                <div flex="85">(049)530-3613</div>
            </div>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10">phone_android</i>
                <span flex="5"></span>
                <div flex="85">+639498896549</div>
            </div>
            <mf-spacer-xs></mf-spacer-xs>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10">email</i>
                <span flex="5"></span>
                <div flex="85">michael.ardan2000@gmail.com</div>
            </div>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10"></i>
                <span flex="5"></span>
                <div flex="85">michael_ardan2000@yahoo.com</div>
            </div>
            <mf-spacer-xs></mf-spacer-xs>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10">link</i>
                <span flex="5"></span>
                <div flex="85"><a target="_blank" href="https://github.com/maikforte">https://github.com/maikforte</a></div>
            </div>
            <div md-colors="{color: 'background'}" layout="row" layout-align="start center">
                <i class="material-icons" flex="10"></i>
                <span flex="5"></span>
                <div flex="85" class="mf-word-wrap"><a target="_blank" href="https://stackoverflow.com/users/1844263/michael-ardan">https://stackoverflow.com/users/1844263/michael-ardan</a></div>
            </div>
        </div>
    </div>

</div>
