<div layout="column" layout-md="row" layout-sm="row" layout-padding>
    <div>
        <img ng-src="{{image}}" width="200">
    </div>
    <div flex class="mf-text-left" layout="column">
        <div>
            <div layout="row">
                <b>{{title}}</b> ({{type}} - {{status}})
            </div>
            <div class="md-body-1">
                <ng-transclude></ng-transclude>
                <br>
                <div layout="row" layout-align="start center">
                    <i class="material-icons" flex="10">link</i><a target="_blank" href="{{repository}}">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
