<md-sidenav md-component-id="sidenav" layout="column">
    <md-content flex layout="column">
        <div layout-padding layout="row" layout-align="center center">
            <div>
                <img ng-src="asset/img/avatar.png" height="25">
            </div>
            <div style="font-weight: 200;">
                MICHAEL ARDAN
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex>
            <div ng-init="isProfileShown=true">
                <div ng-click="isProfileShown=!isProfileShown" layout="row" layout-align="none center" layout-padding class="mf-sidenav-subheader">
                    Profile<span flex></span><i class="material-icons" ng-if="isProfileShown">arrow_drop_down</i><i class="material-icons" ng-if="!isProfileShown">arrow_drop_up</i>
                </div>
                <div ng-if="isProfileShown">
                    <md-divider></md-divider>
                    <mf-sidenav-anchor link="home" ng-click="toggleSidenav()">Professional Profile</mf-sidenav-anchor>
                </div>
                <md-divider></md-divider>
            </div>

            <div ng-init="isConventionShown=true">
                <div ng-click="isConventionShown=!isConventionShown" layout="row" layout-align="none center" layout-padding class="mf-sidenav-subheader">
                    Convention<span flex></span><i class="material-icons" ng-if="isConventionShown">arrow_drop_down</i><i class="material-icons" ng-if="!isConventionShown">arrow_drop_up</i>
                </div>
                <div ng-if="isConventionShown">
                    <md-divider></md-divider>
                    <mf-sidenav-anchor link="git-convention" ng-click="toggleSidenav() ">GIT Branching Model</mf-sidenav-anchor>
                </div>
                <md-divider></md-divider>
            </div>
        </div>
    </md-content>
</md-sidenav>
